/**
 * Mast Head
 */

.masthead {
  color: #fff;
  background-color: #2a2a2a;
  min-width: 270px;
}

.masthead h1 {
  color: #fff;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
}
.masthead a { text-decoration: none; }
.masthead a:hover { text-decoration: none; }
.masthead a:active { text-decoration: none; }

.masthead-inner .sub {
  color: #666;
}

.masthead-inner .sub a { color: #666; }
.masthead-inner .sub a:hover { color: #999; }

@media (min-width: 760px) {
  .masthead-inner {
    padding: 40px;
  }

  .page-content {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 990px) {
  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    margin-bottom: 0;
  }

  .masthead-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .masthead h1 {
    font-size: 54px;
  }

  .page-content {
    margin-left: 35%;
    margin-right: 10%;
    width: 55%;
  }
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list .post-title {
    margin-top: $spacing-unit;
    margin-bottom: 0;
    display: inline-block;
}

.post-meta {
    color: $grey-color;
    display: inline-block;
    float: right;
    font-size: $small-font-size;
    margin-top: 32px;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}





/**
 * Post-Nav
 */
 .footer-navigation {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    font-weight: bold;
    height: 60px;
    margin: 50px 0 40px 0;
    text-align: center;

    .previous {
        display: block;
        margin: 0 auto;
    }
    .next {
        display: block;
        margin: 0 auto;
    }
 }

 @media (min-width: 760px) {
    .footer-navigation {
        height: 30px;
        padding-bottom: 10px;

        .previous {
            display: block;
            float: left;
            margin: 0;
            text-align: left;
        }

        .next {
            display: block;
            float: right;
            margin: 0;
            text-align: right;
        }
    }
}
