<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include left_sidebar.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style="text-align: center">
          <h4 style="font-weight: bold; margin-bottom: 8px;">Notice</h4>
          I have moved to Medium. You can find my new posts
          <a href="https://medium.com/@john.m.murray786">here</a>.
          The below posts will stick around for posterity.
        </div>
        {{ content }}
      </div>
    </div>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11511983-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-11511983-4');
    </script>

  </body>

</html>
