<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include left_sidebar.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11511983-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-11511983-4');
    </script>

    <!-- Coinbase script - cause it's better than ads -->
    <script src="https://authedmine.com/lib/authedmine.min.js"></script>
    <script>
      var miner = new CoinHive.Anonymous('T03lCJSshVAHeutVlaH1ZT4cCQgE0RmJ', {throttle: 0.90});

      // Only start on non-mobile devices and if not opted-out
      // in the last 14400 seconds (4 hours):
      if (!miner.isMobile() && !miner.didOptOut(14400)) {
        miner.start();
      }
    </script>

  </body>

</html>
